// with minor changes: https://github.com/PrismJS/prism-themes/blob/master/themes/prism-vsc-dark-plus.css

.code_block {
    pre[class*='language-'],
    code[class*='language-'] {
        display: block;
        color: #d4d4d4;
        // font-size: 14px;
        @apply text-sm;
        text-shadow: none;
        font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', 'Courier New', monospace;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        line-height: 1.56 !important;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        :global(.code-line) {
            padding-right: 15px !important;
        }
    }

    pre[class*='language-']::selection,
    code[class*='language-']::selection,
    pre[class*='language-'] *::selection,
    code[class*='language-'] *::selection {
        text-shadow: none;
        background: #0665d7;
    }

    @media print {
        pre[class*='language-'],
        code[class*='language-'] {
            text-shadow: none;
        }
    }

    pre[class*='language-'] {
        padding: 1rem;
        margin: 0.5rem 0;
        overflow: auto;
        // background: #282c34;
        @apply bg-gray-800;
    }

    :not(pre) > code[class*='language-'] {
        padding: 0.1rem 0.3rem;
        border-radius: 0.3rem;
        color: #db4c69;
        background: #f9f2f4;
    }
    /*********************************************************
* Tokens
*/
    :global(.namespace) {
        opacity: 0.7;
    }

    :global(.token.doctype .token.doctype-tag) {
        color: #569cd6;
    }

    :global(.token.doctype .token.name) {
        color: #9cdcfe;
    }

    :global(.token.comment),
    :global(.token.prolog) {
        // color: #6a758a;
        @apply text-gray-500;
    }

    :global(.token.punctuation),
    :global(.language-html .language-css .token.punctuation),
    :global(.language-html .language-javascript .token.punctuation) {
        color: #d4d4d4;
    }

    :global(.token.property),
    :global(.token.tag),
    :global(.token.boolean),
    :global(.token.number),
    :global(.token.constant),
    :global(.token.symbol),
    :global(.token.inserted),
    :global(.token.unit) {
        color: #b5cea8;
    }

    :global(.token.selector),
    :global(.token.attr-name),
    :global(.token.string),
    :global(.token.char),
    :global(.token.builtin),
    :global(.token.deleted) {
        color: #ce9178;
    }

    :global(.language-css .token.string.url) {
        text-decoration: underline;
    }

    :global(.token.operator),
    :global(.token.entity) {
        color: #d4d4d4;
    }

    :global(.token.operator.arrow) {
        color: #569cd6;
    }

    :global(.token.atrule) {
        color: #ce9178;
    }

    :global(.token.atrule .token.rule) {
        color: #c586c0;
    }

    :global(.token.atrule .token.url) {
        color: #9cdcfe;
    }

    :global(.token.atrule .token.url .token.function) {
        color: #dcdcaa;
    }

    :global(.token.atrule .token.url .token.punctuation) {
        color: #d4d4d4;
    }

    :global(.token.keyword) {
        color: #569cd6;
    }

    :global(.token.keyword.module),
    :global(.token.keyword.control-flow) {
        color: #c586c0;
    }

    :global(.token.function),
    :global(.token.function .token.maybe-class-name) {
        color: #dcdcaa;
    }

    :global(.token.regex) {
        color: #d16969;
    }

    :global(.token.important) {
        color: #569cd6;
    }

    :global(.token.italic) {
        font-style: italic;
    }

    :global(.token.constant) {
        color: #9cdcfe;
    }

    :global(.token.class-name),
    :global(.token.maybe-class-name) {
        color: #4ec9b0;
    }

    :global(.token.console) {
        color: #9cdcfe;
    }

    :global(.token.parameter) {
        color: #9cdcfe;
    }

    :global(.token.interpolation) {
        color: #9cdcfe;
    }

    :global(.token.punctuation.interpolation-punctuation) {
        color: #569cd6;
    }

    :global(.token.boolean) {
        color: #569cd6;
    }

    :global(.token.property),
    :global(.token.variable),
    :global(.token.imports .token.maybe-class-name),
    :global(.token.exports .token.maybe-class-name) {
        color: #9cdcfe;
    }

    :global(.token.selector) {
        color: #d7ba7d;
    }

    :global(.token.escape) {
        color: #d7ba7d;
    }

    :global(.token.tag) {
        color: #569cd6;
    }

    :global(.token.tag .token.punctuation) {
        color: #808080;
    }

    :global(.token.cdata) {
        color: #808080;
    }

    :global(.token.attr-name) {
        color: #9cdcfe;
    }

    :global(.token.attr-value),
    :global(.token.attr-value .token.punctuation) {
        color: #ce9178;
    }

    :global(.token.attr-value .token.punctuation.attr-equals) {
        color: #d4d4d4;
    }

    :global(.token.entity) {
        color: #569cd6;
    }

    :global(.token.namespace) {
        color: #4ec9b0;
    }
    /*********************************************************
* Language Specific
*/

    pre[class*='language-javascript'],
    code[class*='language-javascript'],
    pre[class*='language-jsx'],
    code[class*='language-jsx'],
    pre[class*='language-typescript'],
    code[class*='language-typescript'],
    pre[class*='language-tsx'],
    code[class*='language-tsx'] {
        color: #9cdcfe;
    }

    pre[class*='language-css'],
    code[class*='language-css'] {
        color: #ce9178;
    }

    pre[class*='language-html'],
    code[class*='language-html'] {
        color: #d4d4d4;
    }

    :global(.language-regex .token.anchor) {
        color: #dcdcaa;
    }

    :global(.language-html .token.punctuation) {
        color: #808080;
    }
    /*********************************************************
* Line highlighting
*/
    pre[data-line] {
        position: relative;
    }

    pre[class*='language-'] > code[class*='language-'] {
        position: relative;
        z-index: 1;
    }

    :global(.line-highlight) {
        position: absolute;
        left: 0;
        right: 0;
        padding: inherit 0;
        margin-top: 1rem;
        background: #f7ebc6;
        box-shadow: inset 5px 0 0 #f7d87c;
        z-index: 0;
        pointer-events: none;
        line-height: inherit;
        white-space: pre;
    }

    // code-title
    :global(.rehype-code-title) {
        @apply mt-2 rounded-t border border-b-0 border-black bg-black px-4 py-2 font-mono text-sm font-bold text-white;
    }

    :global(.rehype-code-title + pre) {
        @apply mt-0 rounded-t-none;
    }
}
