.css {
  :global {
    //   add link icon to headings on hover
    h1[id],
    h2[id],
    h3[id],
    h4[id],
    h5[id] {
      &:hover {
        .heading-link {
          visibility: visible !important;
        }
      }
      .anchor {
        float: left;
        padding-right: 4px;
        margin-left: -20px;
        line-height: 120%;
      }
    }

    em {
      @apply break-words;
    }

    // contents / toc
    .page-outline.mobile {
      // set for mobile view
      @apply visible block xl:block xl:fixed;
    }
    .page-outline {
      &:before {
        content: "Contents";
        margin-left: 7px;
        @apply text-gray-500 block text-base font-medium tracking-wide mb-3  xl:mt-[-46px] xl:fixed xl:mb-0;
      }
      // desktop: max width of outline: based on article max width max-w-screen-md;
      @apply hidden xl:block xl:max-w-[calc((100%-900px)/2)] xl:mr-[20px] mt-[36px] xl:fixed bg-gray-50 rounded p-2;
      right: 0;
      top: 210px; //value also used in scroll event
      bottom: 30px;
      //   max-height: calc(100% - 120px);
      overflow: auto;
      .toc-level.toc-level-1 > li {
        padding-left: 0;
      }
      ol {
        padding: 0;
        margin: 0;
        li {
          &::before {
            content: "";
          }
          margin: 0;
          a {
            @apply text-gray-500 block text-sm xl:text-[0.8rem] xl:leading-[1.1rem] no-underline font-normal px-2 py-1;
            &:hover {
              @apply bg-gray-100 rounded;
            }

            display: block;
          }
        }
      }
    }
  }
}
