.css {
  :global {
    //   add link icon to headings on hover
    h1[id],
    h2[id],
    h3[id],
    h4[id],
    h5[id] {
      &:hover {
        .heading-link {
          visibility: visible !important;
        }
      }
      .anchor {
        float: left;
        padding-right: 4px;
        margin-left: -20px;
        line-height: 120%;
      }
    }

    em {
      @apply break-words;
    }

    // contents / toc
    .page-outline.mobile {
      @apply visible block  lg:block lg:fixed;
    }
    .page-outline {
      &:before {
        content: "Contents";
        margin-left: 7px;
        @apply text-gray-500 block text-base font-medium tracking-wide mb-3  lg:mt-[-36px] lg:fixed lg:mb-0;
      }
      @apply hidden lg:block lg:max-w-[200px] lg:mr-[30px] mt-[36px] lg:fixed bg-gray-50 rounded p-2;
      right: 0;
      top: 150px;
      bottom: 30px;
      //   max-height: calc(100% - 120px);
      overflow: auto;
      .toc-level.toc-level-1 > li {
        padding-left: 0;
      }
      ol {
        padding: 0;
        margin: 0;
        li {
          &::before {
            content: "";
          }
          margin: 0;
          a {
            @apply text-gray-500 block text-sm lg:text-[0.8rem] lg:leading-[1.1rem] no-underline font-medium px-2 py-1;
            &:hover {
              @apply bg-gray-100 rounded;
            }

            display: block;
          }
        }
      }
    }
  }
}
