.css {
    //   add link icon to headings on hover
    h1[id],
    h2[id],
    h3[id],
    h4[id],
    h5[id] {
        &:hover {
            :global(.heading-link) {
                visibility: visible !important;
            }
        }
        :global(.anchor) {
            float: left;
            padding-right: 4px;
            margin-left: -20px;
            line-height: 120%;
        }
    }

    em {
        @apply break-words;
    }

    // contents / toc
    :global(.page-outline.mobile) {
        // set for mobile view
        @apply visible block xl:fixed xl:block;
    }
    :global(.page-outline) {
        &:before {
            content: 'Post Outline';
            margin-left: 7px;
            @apply mb-3 block text-base font-medium tracking-wide text-slate-500 xl:fixed xl:mb-0 xl:mt-[-46px];
        }
        // desktop: max width of outline: based on article max width max-w-screen-md;
        @apply mt-[36px] hidden rounded bg-slate-50 p-2 xl:fixed xl:mr-[20px] xl:block xl:max-w-[calc((100%-900px)/2)];
        right: 0;
        top: 210px; //value also used in scroll event
        bottom: 30px;
        //   max-height: calc(100% - 120px);
        overflow: auto;
        :global(.toc-level.toc-level-1) > li {
            padding-left: 0;
            font-weight: 600; // first level heading font-size
        }
        ol {
            padding: 0;
            margin: 0;
            li {
                font-weight: 400;
                padding-left: 14px;
                &::marker {
                    // disable bullet point
                    content: '';
                }
                margin: 0;
                a {
                    @apply block px-2 py-1 text-sm text-slate-500 no-underline hover:no-underline xl:text-[0.8rem] xl:leading-[1.1rem];
                    font-weight: inherit;
                    &:hover {
                        @apply rounded bg-slate-100;
                    }

                    display: block;
                }
            }
        }
    }
}
