@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }
  // * {
  //   scrollbar-width: thin;
  // }

  /* Works on Chrome, Edge, and Safari */
  // *::-webkit-scrollbar {
  //   background: transparent;
  //   width: 10px;
  //   height: 10px;
  // }

  // *::-webkit-scrollbar-track {
  //   background: #edece9;
  // }

  // *::-webkit-scrollbar-thumb {
  //   background: #d3d1cb;
  // }

  h1 {
    @apply font-semibold leading-tight text-4xl #{!important};
  }
  h2 {
    @apply font-semibold #{!important};
  }

  /* remove tailwind typography prose styling */

  /* remove quotes from blockquote */
  blockquote > p::before {
    content: none !important;
  }

  blockquote > p::after {
    content: none !important;
  }

  /* // remove backquote added by prose class to inline quote */
  code::before {
    content: none !important;
  }

  code::after {
    content: none !important;
  }

  /* inline code */

  code {
    @apply text-gray-800 px-1 py-0.5 border border-gray-100 rounded-md bg-[#eef1f2] text-sm font-mono break-words;
  }

  details {
    @apply my-2;
    summary {
      @apply cursor-pointer hover:bg-gray-100;
      h3,
      h4 {
        @apply my-0 inline-block #{!important};
      }
    }
  }
}

/* custom component styles */
@layer components {
  .site-container {
    @apply py-20 px-5 mx-auto max-w-screen-md;
  }

  .twitter-btn {
    border-radius: 4px;
    padding: 1px 10px 1px 9px;
    background-color: #1b95e0;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 26px;
  }

  .twitter-btn:active,
  .twitter-btn:focus,
  .twitter-btn:hover {
    background-color: #0c7abf;
  }

  .badge-wrapper {
    @apply flex space-x-8 mt-5 mb-4;

    img {
      @apply m-0;
    }
  }
}
