@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #edece9;
  }

  *::-webkit-scrollbar-thumb {
    background: #d3d1cb;
  }

  /* remove tailwind typography prose styling */

  /* remove quotes from blockquote */
  blockquote > p::before {
    content: none !important;
  }

  blockquote > p::after {
    content: none !important;
  }

  /* // remove backquote added by prose class to inline quote */
  code::before {
    content: none !important;
  }

  code::after {
    content: none !important;
  }

  /* inline code */

  code {
    @apply text-gray-800 px-1 py-0.5 border border-gray-100 rounded-md bg-gray-100 text-sm font-mono;
  }
}

/* custom component styles */
@layer components {
  .site-container {
    @apply py-20 px-5 mx-auto max-w-screen-md;
  }

  .twitter-btn {
    border-radius: 4px;
    padding: 1px 10px 1px 9px;
    background-color: #1b95e0;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 26px;
  }

  .twitter-btn:active,
  .twitter-btn:focus,
  .twitter-btn:hover {
    background-color: #0c7abf;
  }

  .badge-wrapper {
    @apply flex space-x-8 mt-5 mb-4;

    img {
      @apply m-0;
    }
  }
}
