@tailwind base;
@tailwind components;

@tailwind utilities;

@layer base {
  /* // remove tailwind typography prose styling // */

  /* // remove quotes from blockquote */

  blockquote > p::before {
    content: none !important;
  }
  blockquote > p::after {
    content: none !important;
  }

  /* // remove backquote added by prose class to inline quote */
  code::before {
    content: none !important;
  }
  code::after {
    content: none !important;
  }
}

@layer components {
  /* Write you own custom component styles here */
  .site-container {
    @apply py-20 px-5 mx-auto max-w-screen-md;
  }

  .twitter-btn {
    border-radius: 4px;
    padding: 1px 10px 1px 9px;

    background-color: #1b95e0;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 26px;
  }
  .twitter-btn:active,
  .twitter-btn:focus,
  .twitter-btn:hover {
    background-color: #0c7abf;
  }
}
